img{
    width: 400px;
    height: 500px;
}
body{
    background-color: rgba(100, 94, 49, 0.742);
    margin: 0px;
    width: 700px;
    height: 2700px;
    
  
}
h1{
    
    color: white;
    display: inline;
    font-size: 70px;
    display: flex;
    margin-left: 509px;
    margin-top: -400px;

}

.h1{
    background-color: transparent;
    border-bottom:  20px solid rgba(233, 133, 150, 0.85);
    border-right:  20px solid rgba(233, 133, 150, 0.85);
    width: 1000px;
    margin-left: 20px;
}
.intro{
    font-size: xx-large; 
    color: white; 
    margin-top: 120px;
    margin-left: 30px;
}
.div1{
    width: 800px;
    height: 400px;
    background-color: rgba(28, 25, 22, 0.548);
    border-left: 20px solid rgba(233, 133, 150, 0.85);
}
.para{
    color: white;
    font-size: x-large;
    margin-left: 5px;
}
mark{
    background-color:rgba(238, 152, 166, 0.704); ;
}
.family{
    width: 800px;
    height: 400px;
    background-color: rgba(28, 25, 22, 0.548);
    border-left: 20px solid rgba(233, 133, 150, 0.85);
    

}
.familyphoto{
    width: 500px;
    height: 500px;
    background-color: rgba(28, 25, 22, 0.548);
    border-left: 20px solid rgba(233, 133, 150, 0.85);
    margin-left: 600px;
    margin-top: -621px
    
}
.plays{
    width: 900px;
    height: 280px;
    background-color: rgba(28, 25, 22, 0.548);
    border-left: 20px solid rgba(233, 133, 150, 0.85);
}
.poems{
    width: 500px;
    height: 500px;
    background-color: rgba(28, 25, 22, 0.548);
    border-left: 20px solid rgba(233, 133, 150, 0.85);
}